h1{
    color: burlywood;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(24, 222, 222);
}

p{
    color: brown;
    line-height: 1.5;
    font-size: larger;
    font-weight: 800;
    text-decoration: rgb(17, 227, 143) line-through;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: coral;
}
button{

    color: blueviolet;background-color: aquamarine;font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: orange;
}
