h1{
    color: burlywood;
    font-style: italic;
    font-family: league spartan;
    font-size: 55px;
     font-weight: 900;
    text-decoration:teal double underline;
    letter-spacing: 20px;
    background-color: rgb(24, 222, 222);
    text-transform: uppercase;
}

p{
    color: brown;
    line-height: 1.5;
    font-size: larger;
    font-weight: 800;
    text-decoration: rgb(17, 227, 143) line-through;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: coral;
}
button{

    color: blueviolet;background-color: aquamarine;font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: orange;
}
