.outer{
    height: 300px;
    width: 300px;
    background-color: #F4BB44 ;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 200px;
}
.eyes{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 15%;
    left: 13.5%;
    margin: 10%;

}
.mouth{
    height: 50px;
    width: 50%;
    position: relative;
    left: 25%;
    top: 25%;
    background-color: rgb(255, 85, 1);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}