h1{
    text-align: center;
}
#container{
    height: 700px;
    width: 80%;
    margin: 10px auto;
    border: 2px solid black;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    flex-wrap: wrap-reverse;
}
#container div{
    height: 150px;
    width: 300px;
    font-size: 2em;
    color: aliceblue;
    text-align: center;
}