*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: #b92b27;
}
#login{
    background-color: aliceblue;
}
#signup{
    background-color: #b92b27;
}
.a{
    background-color: aquamarine;
}
p a{
    color: aquamarine;
    background-color: yellow;

}

p+h3{
    text-decoration: underline;
}